<script src="https://kit.fontawesome.com/ffabdb3b39.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css">
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="create">
        {% if "update" in request.path %}
        <h2>Actualizar Usuario</h2>
        <form action="/update/{{u_user[0][0]}}" class="create__form" method="POST">
            <div class="form__input max-width">
                <input type="text" name="fullname" value="{{u_user[0][1]}}">
                <input type="text" name="phone" value="{{u_user[0][2]}}">
                <input type="text" name="email" value="{{u_user[0][3]}}">
            </div>
            <div class="center-content">
                <button class="btn" type="submit"> Update </button>
            </div>
        </form>
        {% else %}
        <h2>Crear Usuario</h2>
        <form action="/add_contact" class="create__form" method="POST">
            <div class="form__input max-width">
                <input type="text" name="fullname" placeholder="Fullname">
                <input type="text" name="phone" placeholder="Phone">
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="center-content">
                <button class="btn" type="submit"> Save </button>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="show">
        <div class="row row-header">
            <ul class="row__ul">
                <li>Nombre</li>
                <li>Teléfono</li>
                <li>Correo</li>
                {% if "update" not in request.path %}
                <li>Acciones</li>
                {% endif %}
            </ul>
        </div>
        {% if users %}
            {%for user in users %}
                <div class="row">
                    <ul class="row__ul">
                        <li>{{ user[1] }}</li>
                        <li>{{ user[2] }}</li>
                        <li>{{ user[3] }}</li>
                        {% if "update" not in request.path %}
                        <li>
                            <a href="/update/{{user[0]}}"><i class="fas fa-pencil-alt"></i></a>
                            <a href="/delete/{{user[0]}}"><i class="fas fa-trash"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
